# Machine Learning

Input  Output     formula
2        6        2**3 -2
3        24       3**3 - 3
4        60       4**3 - 4 
5        120       5**3 - 5

formula
model


Traditional method
input 
formula

x=5   y=x**3 - x

In [8]:
import pandas as pd

In [10]:
data = pd.read_csv("C:/Users/user/Desktop/learn_data/diabetes.csv") 
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1